@model IEnumerable<EmployeeIndexViewModel>

@{
    ViewBag.Titel = "Employee";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Employee List</li>
                    </ol>
                </nav><br /><br />
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        @*<a class="btn btn-xl btn-outline-success float-md-start" asp-action="Create">Add Employee</a>*@
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Employee No.</th>
                                    <th>Photo</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Designation</th>
                                    <th>Address</th>
                                    <th>Start Date</th>
                                    <th>Attrition Date</th>
                                    <th class="text-warning">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Detail" asp-route-id="@item.Id">
                                                @item.EmployeeNo
                                            </a>
                                        </td>
                                        <td>
                                            <img src="@Url.Content(item.ImageUrl)" class="rounded-circle" style="width:30px;height:30px;" alt="image" />
                                        </td>
                                        <td>@item.FullName</td>
                                        <td>@item.Gender</td>
                                        <td>@item.Designation</td>
                                        <td>@item.Address</td>
                                        <td>@item.DateJoined.ToString("dd/MM/yyyy")</td>
                                        <td>@item.DateTerminated.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                                                <i class="fa-solid fa-pen-to-square"></i> Edit
                                            </a> &nbsp;
                                            <a class="btn btn-info" asp-action="Detail" asp-route-id="@item.Id">
                                                <i class="fa-solid fa-circle-info"></i> Detail
                                            </a> &nbsp;
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                                <i class="fa-solid fa-trash-can"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>